<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="logo_img"> <a class="navbar-brand" href="#">
            
            <img  src="../assets/test.png" alt="logo" style="width:40px;">
          </a></div>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#">Home</a></li>
      <li><a href="#">Page 1</a> </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">21:06
            <p>Tue,12 October 2019</p></a>
        </li>
      <li><a href="#"><img src="../assets/Search.svg"></a></li>
      <li><a href="#"><img src="../assets/Message.svg"></a></li>
      <li><a href="#"><img src="../assets/Notification.svg"></a></li>
      
    </ul>
  </div>
</nav>
  
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-4">
         
          <div class="graph">
                
            <img  src="../assets/graph1.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-4">
          <div class="graph">
                
            <img  src="../assets/graph2.png">
          </div>
    
    
        </div>
        <div class="col-xs-12 col-sm-3 col-md-4">
          <div class="graph">
                
            <img  src="../assets/graph3.png">
          </div>
    
    
        </div>
       
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-6">
          <div class="piechart">
                
            <img  src="../assets/piechart.png">
          </div>
    
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <div class="bouncerate">
                
            <img  src="../assets/Bounce rate.svg">
          </div>
          <div>
    
    
          
          <div class="inner_sec">
            <h6>Today To do list</h6>
            </div>
            <div class="today-list">
              <ul>
                <li>
                  <div class="todaylist">
                    <span><img sec="" alt="imgo"></span>
                    <div><p class="markline">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum  </p>
                      <p>urgent not important</p></div>
                    <span><img sec="" alt="img1"></span>
                    <span><img sec="" alt="img2"></span>
                    
                  </div>
                  
                </li>
                <li>
                  <div class="todaylist">
                    <span><img sec="" alt="imgo"></span>
                    <div><p class="markline">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum  </p>
                      <p>urgent not important</p></div>
                    <span><img sec="" alt="img1"></span>
                    <span><img sec="" alt="img2"></span>
                    
                  </div>
                  
                </li>
                <li>
                  <div class="todaylist">
                    <span><img sec="" alt="imgo"></span>
                    <div><p class="markline">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum  </p>
                      <p>urgent not important</p></div>
                    <span><img sec="" alt="img1"></span>
                    <span><img sec="" alt="img2"></span>
                    
                  </div>
                  
                </li>
                
              </ul>
              <div>
                
              </div>
             
            </div>
          
    
    
          </div>
    
        </div>
      </div>
    </div>
    <div class="col-md-3">
     <div class="row">
      <div class="colud_part">
        <img src="../assets/piechart2.png" alt="" >
        <img src="../assets/Activity.svg" alt="" >
        <img src="../assets/Registration.svg" alt="">
      </div>
     </div>
    </div>
  </div>
 
</div>

</body>
</html>
