.bg-dark {
    background-color: #222D64!important;
}
.logo_img img{
    width:48px !important;
}
body{
    background-color: #22274E!important;
    color:#fff!important;
}
.navbar-left{
    margin-top: 10px;
}
.graph img{
    width: 20pc;
    padding-right: 20px;
}
.piechart img{
    width: 24pc;
}
.bouncerate img{
    width: 30pc;
}
.inner_sec {
    background: #07073b;
    width: 30pc;
    position: absolute;
    top: 85px;
    
}